* {
    margin: 0px;
    padding: 0px;
}

.body{
    font-family: "Roboto", sans-serif;
}

.header {
    display: flex;
    justify-content: space-between;
    background-color: #1F2937;
    color: white;padding-top: 2rem;
    height: 5rem;
    padding-left: 10rem;
    padding-right: 10rem;
}

.logo {
    font-size: 20px;
    padding-left: 15rem;
}


.list {
    list-style: none;
    display: flex;
    gap: 2rem;
    padding-right: 20rem;
}

.list li {
    margin: 0 0.1rem;
}


.hero {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #1F2937;
    color: white; 
    padding: 4rem 15rem; 
    padding-left: 15rem;
    padding-bottom: 10rem;
    font-weight: 900;
    height: 5rem;
}

.intro {
    font-size: 48px;
    padding-left: 10rem;
}

.para {
    font-size: 18px;
    font-style: italic;
    overflow-wrap: normal;
    padding-left: 10rem;
}


.button {
    margin-top: 1rem;
    margin-left: 10rem;
    padding: 10px;
    border-color: #3882F6;
    border-radius: 10px;
    background-color: #3882F6;
    width: 100px;
    line-height: 10px;
    text-align: center;
    
}

.image {
    width: 400px;   
    padding-right: 5rem;
}


.information {
    height: 30rem;
}

.random {
    display: flex;
    justify-content: center;
    font-size: 36px;
    padding-top: 5rem;
}

.containers {
    display: flex;
    justify-content: center;
    gap: 2rem;
    margin-top: 2rem;
    flex-wrap: wrap; 
    padding-bottom: 5rem;
}

.container1,
.container2,
.container3,
.container4 {
    width: 140px;
    height: 140px;
    background-color: white;
    border: 2px solid #3882F6;
    border-radius: 10px;
}

.caption {
    text-align: center;
    margin-top: 0.5rem;
    width: 140px;
    color: grey;
}

.item {
  display: flex;
  flex-direction: column;
  align-items: center;
}




.quotation {
    background-color: #E5E7EB;
    text-align: center;
    padding-top: 5rem;
    padding-bottom: 5rem;
    padding-left: 7rem;
    padding-right: 7rem;
}

.quote {
    margin-left: 30rem;
    margin-right: 30rem;
    font-size: 36px;
    font-style: italic;
    text-align: left;
}

.author {
    font-size: 20px;
    text-align: right;
    margin-left: 30rem;
}


.calltoaction {
    display: flex;
    justify-content: center;
    padding: 5rem;
}

.item1 {
    display: flex;
    justify-content: center;
}

.callbox {
    width: 1000px;
    height: 140px;
    background-color: #3882F6;
    border: 2px solid white;
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.callcap1 {
    font-size: 30px;
    line-height: 5px;
    padding-top: 1rem;
    padding-left: 3rem;
    color: white;
}

.callcap2 {
    font-size: 20px;
    line-height: 1px;
    padding-left: 3rem;
    color: white;
    line-height: 50px;
}

.signup2 {
    padding: 10px;
    border-color: white;
    border-radius: 10px;
    background-color: #3882F6;
    width: 120px;
    height: 30px;
    line-height: 0px;
    text-align: center;
    margin-right: 100px;
}

.signupword {
    color: white;
}

